<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    <div class="row expanded">
      <nav id="treeMenu" class="shrink columns show-for-landscape show-for-large">
        <h1>Brandon Chong</h1>
      </nav>
      <main class="columns">
        {{content}}
      </main>
      <aside id="miniMap" class="shrink columns show-for-landscape show-for-large">
        <h2>Mini Map</h2>
      </aside>
    </div>

    <!-- {% include footer.html %} -->
    <script>$(document).foundation()</script>

  </body>

</html>
