<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="row expanded">
      <nav id="treeMenu" class="shrink columns show-for-landscape show-for-large">
        <h1>Brandon Chong</h1>
      </nav>
      <nav id="hacks" class="shrink columns show-for-landscape show-for-large">
        <h1>Brandon Chong</h1>
      </nav>
      <main class="columns">
        {{content}}

        {% include footer.html %}
      </main>
      <aside id="minimap" class="shrink columns show-for-landscape show-for-large" >
      </aside>
    </div>
    <!-- <script>$(document).foundation()</script> -->
    <script src="./js/sublime.js"></script>
  </body>

</html>
